<div class="tw-mt-8 tw-py-5" style="background: #1b1a1a; font-family: 'Roboto', sans-serif">
    <div class="
    tw-mt-2 tw-mb-12
    md:tw-mb-0
    tw-px-4
    md:tw-px-0
    tw-relative
    tw-max-w-6xl
    tw-w-full
    tw-mx-auto
    tw-text-white
    tw-grid
    tw-grid-cols-12
    tw-gap-4
    tw-font-semibold
  ">
        <div class="tw-col-span-12 md:tw-col-span-4 tw-font-bold tw-mb-2"><span class="
        tw-mt-4
        tw-border-2
        tw-border-trueGray-700
        tw-py-4
        tw-px-4
        tw-flex
        tw-flex-col
        tw-items-center
      "><img src="https://shopmoba.vn/tep-tin/69332079503.gif" class="mb-2" style="max-width:150px;"> <span
                    class="tw-uppercase tw-text-center">ShopMOBA.Vn - Shop Acc Game Chính Thức Của Max
                    MOBA</span></span> </div>
        <div class="tw-col-span-12 md:tw-col-span-5 tw-py-2">
            <h2 class="tw-text-2xl tw-mb-2">VỀ CHÚNG TÔI</h2>
            <p class="tw-text-base tw-font-medium tw-mb-2">
                Chúng tôi luôn lấy uy tín đặt trên hàng đầu đối với khách hàng, hy
                vọng chúng tôi sẽ được phục vụ các bạn. Cám ơn!
            </p>
            <p>
                Thời gian hỗ trợ: <br> <span class="tw-font-medium">
                    Sáng: 8h00 -&gt; 12h | Chiều: 14h -&gt; 22h
                </span></p>
        </div>
        <div class="tw-col-span-12 md:tw-col-span-3 tw-py-2">
            <h3 class="tw-text-2xl tw-uppercase tw-mb-2">
                ShopMOBA.Vn - Shop Acc Game Chính Thức Của Max MOBA </h3>
            HỆ THỐNG BÁN ACC TỰ ĐỘNG
            <br>
            ĐẢM BẢO UY TÍN VÀ CHẤT LƯỢNG.
        </div>
    </div>
</div>