<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <h1 class="font-bold text-center py-5 uppercase ">Products List Admin</h1>
    <div class="w-full text-sm text-gray-500 my-5 text-right">
        <a class="px-2 py-3 bg-green-500 rounded-md text-white font-medium" href="products/add">
            <button>
                Create Products
            </button>
        </a>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Quanlity
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pro of products" class="odd:bg-white  even:bg-gray-50  border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    {{pro.name}}
                </th>
                <td class="px-6 py-4">
                    <img src="{{pro.image}}" alt="" class="w-[100px]">
                    
                </td>
                <td class="px-6 py-4">
                    {{pro.category}}
                </td>
                <td class="px-6 py-4">
                    {{pro.price}}
                </td>
                <td class="px-6 py-4">
                    {{pro.quality}}
                </td>
                <td class="px-6 py-4">
                    {{pro.description}}
                </td>
                <td class="px-6 py-4">
                    <button class="bg-green-500 text-white px-4 py-2 rounded-md"><a href="products/edit/{{pro.id}}">Edit</a></button>
                    <button (click)="clickRemove(pro.id)" class="bg-red-500 text-white px-4 py-2 ml-2 rounded-md">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
